
<div id="editar-perfil-popup" class="popup">
        <div class="popup-content">
            <span class="fechar" onclick="fechar_editar_perfil()">&times;</span>

            <div id="bloco-central">
                <span id="main-title">Seu perfil</span>
                <p id="subtitulo">Gerencie suas informações</p>
                <div id="update-info">
                    <input type="text" id="nome_edicao" placeholder="Nome">
                    <input type="text" id="usuario_edicao" placeholder="Usuário">
                    <input type="password" id="senha_edicao" placeholder="Senha">
                    <input type="password" id="senha_confirma_mudanca" placeholder="Confirme sua senha">
                    <button type="button" id="botao-cancelar">Cancelar</button>
                    <button type="button" onclick="" id="botao-confirma-mudancas">Confirmar</button>
                </div>

            </div>
        </div>