<div id="Sidebar" class="sidebar">
        {% include "símbolos_svg.html" %}
        <div id="top-sidebar">
            <div class="sidebar-title-area">
                <img src="{{ url_for('static', filename='images/logo-robo.png') }}" alt="Boole" style="height: 30px;">
                <span id="top-sidebar-title">Sua área</span>
            </div>
            <div>
                <a href="javascript:void(0)" class="closebtn" onclick="closeSidebar()"><img src="{{url_for('static', filename='images/menu_icon.png')}}" alt="Menu" class="closebtn"></a>
            </div>
            
        </div>

        <button class="sidebar-button" id="nova-conversa" onclick="nova_conversa()">
            <img src="{{ url_for('static', filename='images/botao-nova-conversa.png') }}" alt="Nova conversa" style="height: 22px;">
            Nova conversa
        </button>

        <button class="sidebar-button" id="debug_mode" onclick="debug()" href="/chat?modo=debug">
            <img src="{{ url_for('static', filename='images/botao-debug.png') }}" alt="Modo Debug" style="height: 22px;">
            Modo Debug
        </button>
        
        <div class="content">
            <span id="conversas-title">Conversas</span>
            <ul id="conversation-list"> <!--estrutura básica do histórico dinâmico-->
            </ul>
        </div>

        <div class="dropdown-perfil">
            <button class="dropdown-btn-perfil" id="perfil-opcoes-btn">
              <div id="menu-title">
                <img class="profile-icon" src="{{ url_for('static', filename='images/botao-menu-perfil.png') }}" alt="Perfil">
              </div>

            </button>

            <ul class="dropdown-perfil-content" id="perfil-opcoes">
                <li>
                    <a class="acao-perfil" href="/templates/perfil.html">Perfil</a>
                </li>
                <li>
                    {% if usuario == "" %}
                        <a class="acao-perfil" onclick="abrirLoginPopup()" href="#">
                            Entrar
                        </a>
                    {% else %}
                        <a class="acao-perfil" onclick="logout()" href="#">
                            Sair
                        </a>
                    {% endif %}
                </li>
                
            </ul>
        </div>

    {% include "login.html" %}

    {% include "signup.html" %}
    
    </div>

    </div>
    <script src="{{ url_for('static', filename='behavior/sidebar.js') }}"></script>
    <script src="{{ url_for('static', filename='behavior/login.js') }}"></script>
    <script src="{{ url_for('static', filename='behavior/signup.js') }}"></script>
    <script src="{{ url_for('static', filename='behavior/logout.js') }}"></script>