<div id="Sidebar" class="sidebar">
        <div id="top-sidebar">
            <div class="sidebar-title-area">
                <img src="{{ url_for('static', filename='images/logo-robo.png') }}" id="boole-icon" alt="Boole" style="height: 30px;">
                <span id="top-sidebar-title">Sua área</span>
            </div>
            <div>
                <a href="javascript:void(0)" class="closebtn" onclick="closeSidebar()"><img src="{{url_for('static', filename='images/menu_icon.png')}}" alt="Menu" class="closebtn"></a>
            </div>
            
        </div>

        <button id="nova-conversa" onclick="nova_conversa()">
            <img src="{{ url_for('static', filename='images/botao-nova-conversa.png') }}" id="new-chat-icon" alt="Nova conversa" style="height: 22px;">
            Nova conversa
        </button>

        <button id="debug_mode" onclick="debug()">
            Modo Debug
        </button>
        
        <div class="content">
            <span id="conversas-title">Conversas</span>
            <ul id="conversation-list"> <!--estrutura básica do histórico dinâmico-->
            </ul>
        </div>

        <div class="sidebar-footer">
            <div class="usuario-buttons">
                {% if usuario == "" %}
                <button id="login-or-logout" onclick="abrirLoginPopup()">
                    <img src="{{ url_for('static', filename='images/botao-login.png') }}" id="login-icon" alt="Entrar" style="height: 38px;">
                </button>
                {% else %}
                <button id="login-or-logout" onclick="logout()">
                    <img src="{{ url_for('static', filename='images/botao-logout.png') }}" id="logout-icon" alt="Sair" style="height: 38px;">
                </button>
                {% endif %}
            </div>

            <button id="theme-mode" onclick="toggleTheme()">
                <img src="{{ url_for('static', filename='images/theme-icon.png') }}" id="theme-icon" alt="Mudar tema" style="height: 38px;">
            </button>
        </div>

    {% include "login.html" %}

    {% include "signup.html" %}
    
    </div>

    </div>
    <script src="{{ url_for('static', filename='behavior/sidebar.js') }}"></script>
    <script src="{{ url_for('static', filename='behavior/login.js') }}"></script>
    <script src="{{ url_for('static', filename='behavior/signup.js') }}"></script>
    <script src="{{ url_for('static', filename='behavior/logout.js') }}"></script>