<svg id="símbolo_fixar" viewBox="-1 -1 30 30" xmlns="http://www.w3.org/2000/svg"
     style="background:transparent; display:none;">
  <g class="ícone_pin" color="white" transform="scale(0.4)">
    <!-- quadrado -->
    <rect x="30" y="-36" rx="5" width="40" height="47" fill="currentColor" transform="rotate(45,0,0)" />
    <!-- linha entre agulha e quadrado -->
    <rect x="15" y="7" height="4" width="70" fill="currentColor" transform="rotate(45,0,0)" />
    <!-- linha da agulha -->
    <rect x="-27" y="-51" height="3" width="75" fill="currentColor" transform="rotate(135,0,0)" />
  </g>
</svg>