<svg id="símbolo_fixar" viewBox="-1 -1 30 30" xmlns="http://www.w3.org/2000/svg"
     class="svg_hidden">
  <g class="ícone_pin" color="lightgrey" transform="scale(0.4)">
    <!-- quadrado -->
    <rect x="30" y="-36" rx="5" width="40" height="47" fill="currentColor" transform="rotate(45,0,0)" />
    <!-- linha entre agulha e quadrado -->
    <rect x="15" y="7" height="4" width="70" fill="currentColor" transform="rotate(45,0,0)" />
    <!-- linha da agulha -->
    <rect x="-27" y="-51" height="3" width="75" fill="currentColor" transform="rotate(135,0,0)" />
  </g>
</svg>

<svg id="símbolo_dropdown" viewbox="-1 -1 30 30" xmlns="http://www.w3.org/2000/svg"
     class="svg_hidden">
  <g color="lightgrey">
    <!-- ponto de cima -->
    <circle cx="15" cy="4" r="2" fill="currentcolor"/>
    <!-- ponto do meio -->
    <circle cx="15" cy="15" r="2" fill="currentcolor"/>
    <!-- ponto de baixo -->
    <circle cx="15" cy="26" r="2" fill="currentcolor"/>
  </g>
</svg>

<svg id="símbolo_delete" viewbox="-1 -1 30 30" xmlns="http://www.w3.org/2000/svg" class="svg_hidden">
  <g color="lightgrey">
    <!-- base -->
    <line x1="6" y1="27" x2="24" y2="27" stroke="currentColor"/>
    <!-- lado esquerdo -->
    <line x1="4" y1="5.5" x2="6" y2="27.5" stroke="currentColor"/>
    <!-- lado direito -->
    <line x1="26" y1="5.5" x2="24" y2="27.5" stroke="currentColor"/>
    <!-- tampa -->
    <line x1="4" y1="6" x2="26" y2="6" stroke="currentColor"/>
    <!-- linhas da alça -->
    <line x1="11" y1="2" x2="19" y2="2" stroke="currentColor"/>
    <line x1="11.5" y1="2" x2="11.5" y2="6" stroke="currentColor"/>
    <line x1="18.5" y1="2" x2="18.5" y2="6" stroke="currentColor"/>
    <!-- linhas internas -->
    <line x1="9" y1="9" x2="10" y2="24" stroke="currentColor"/>
    <line x1="15" y1="9" x2="15" y2="24" stroke="currentColor"/>
    <line x1="21" y1="9" x2="20" y2="24" stroke="currentColor"/>
  </g>
</svg>
