<!-- imagem do botão dropdown modo escuro -->
<img id="dropdown_image-dark"
     src="{{ url_for('static', filename='images/dropdown_icon-dark.png') }}"
     class="dropdown_menu_button_img"
     style="display:none;"
/>

<!-- imagem do botão dropdown modo claro -->
<img id="dropdown_image-light"
     src="{{ url_for('static', filename='images/dropdown_icon-light.png') }}"
     class="dropdown_menu_button_img"
     style="display:none;"
/>



<!-- imagem do botão de fixar modo escuro -->
<img id="pin_image-dark"
     src="{{ url_for('static', filename='images/pin_icon-dark.png') }}"
     class="dropdown_menu_button_img"
     style="display:none;" 
/>

<!-- imagem do botão de fixar modo claro -->
<img id="pin_image-light"
     src="{{ url_for('static', filename='images/pin_icon-light.png') }}"
     class="dropdown_menu_button_img"
     style="display:none;"
/>



<!-- imagem do botão de deletar modo escuro -->
<img id="delete_image-dark"
     src="{{ url_for('static', filename='images/delete_icon-dark.png') }}"
     class="dropdown_menu_button_img"
     style="display:none;"
/>

<!-- imagem do botão de deletar modo claro -->
<img id="delete_image-light"
     src="{{ url_for('static', filename='images/delete_icon-light.png') }}"
     class="dropdown_menu_button_img"
     style="display:none;"
/>